In [ ]:
import pandas as pd
import json
import librosa
import numpy as np

In [ ]:
df = pd.read_csv('data_info2.csv')

In [ ]:
df.head()

In [ ]:
level_diff = ['Easy', 'Normal', 'Hard', 'Expert', 'ExpertPlus']
res = []

for diff in level_diff:
    print(diff)
    
    for i, el in df[~df[diff].isnull()].iterrows():
        
        level_path = 'data/' + el['song_id'] + '/' + el[diff]
        song_path = 'data/' + el['song_id'] + '/' + el['song_file']

        # get duration
        y, sr = librosa.load(song_path)
        duration = librosa.get_duration(y=y, sr=sr)

        # get bpm
        bpm1 = el['bpm']
        bpm2 = librosa.beat.tempo(y=y, sr=sr)[0]

        # get num el
        with open(level_path, 'r') as f:
            data = json.load(f)
            t = np.array(sorted(list(set([el['_time'] for el in data['_notes']]))))
            num_el = t.shape[0]
            
        res.append([diff, duration, bpm1, bpm2, num_el])

In [ ]:
eda = pd.DataFrame(res, columns=['diff', 'duration', 'bpm_info', 'bpm_librosa', 'num_el'])

In [45]:
eda[eda['diff'] == 'ExpertPlus']

          diff    duration  bpm_info  bpm_librosa  num_el
40  ExpertPlus  339.888254     130.0   129.199219    1721
41  ExpertPlus  298.460544     127.0   129.199219    1229
42  ExpertPlus  249.460862     159.0   161.499023     916
43  ExpertPlus  282.031338     200.0    99.384014    1863
44  ExpertPlus  215.088390     135.0   135.999178     945
45  ExpertPlus  195.000045     138.0   135.999178     952
46  ExpertPlus  238.205079      94.0   123.046875    1287
47  ExpertPlus  197.435828     130.0   129.199219    1135
48  ExpertPlus  299.742041     260.0   129.199219    2237
49  ExpertPlus  186.328118     190.0    95.703125     812

In [ ]:
eda.to_excel('eda2.xlsx')

In [ ]:
eda[['bpm_info', 'bpm_librosa']].corr()